.architecture {
  padding: 120px 0 0;

  @include vp-1023 {
    padding: 80px 0 0;
  }

  &__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 84px;
    margin: 0 0 40px;

    @include vp-1023 {
      margin: 0 0 20px;
      gap: 19px;
    }
  }

  &__title {
    margin: 0;
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    grid-column: 3;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
