.facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-fallow;
  border-bottom: none;
  border-radius: 600px 600px 0 0;
  font-family: $ff-tenor;

  &--padding-xl {
    padding: 100px 0 57px;

    @include vp-1023 {
      padding: 80px 0 0;
      border: none;
    }
  }

  &__icon-emblem {
    margin: 0 0 30px;

    @include vp-1023 {
      width: 70px;
      height: 94px;
      margin: 0 0 20px;
    }
  }

  &__title {
    margin: 0 0 10px;
    font-family: $ff-roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: $color-fallow;
    text-align: center;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 5px;
    }
  }

  &__location-name {
    margin: 0 0 40px;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -0.08em;

    @include vp-1023 {
      font-size: 28px;
      line-height: 32px;
      margin: 0 0 20px;
    }
  }

  &__location-icon {
    margin: 0 0 15px;

    @include vp-1023 {
      width: 20px;
      height: 20px;
      margin: 0 0 10px;
    }
  }

  &__address {
    font-family: $ff-roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 400;

    @include vp-1023 {
      max-width: 720px;
      flex-direction: row;
      gap: 40px;
    }
  }
}
