.fact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include vp-1023 {
    width: 150px;
    gap: 0;

    &:nth-child(2n) {
      margin: auto 0 0;

      @include vp-767 {
        margin: 0;
      }
    }
  }

  @include vp-767 {
    width: 120px;
  }

  &__wrapper {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 12px;
    margin: 0 0 10px;
    font-family: $ff-tenor;
    font-weight: 400;

    @include vp-1023 {
      width: 100%;
      gap: 5px;
      margin: 0 0 10px;
    }

    @include vp-767 {
      margin: 0;
    }
  }

  &__value {
    font-size: 48px;
    line-height: 48px;
    color: $color-fallow;
    text-transform: uppercase;

    @include vp-1023 {
      font-size: 40px;
      line-height: 40px;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 36px;
    }

    &--big {
      font-size: 140px;
      line-height: 100px;
      letter-spacing: -0.04em;

      @include vp-1023 {
        font-size: 90px;
        line-height: 70px;
      }

      @include vp-767 {
        font-size: 70px;
        line-height: 50px;
      }
    }
  }

  &__unit {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    color: $color-fallow;
    text-transform: uppercase;

    &--center {
      margin: auto 0;
    }

    @include vp-1023 {
      font-size: 14px;
      line-height: 18px;
    }

    &--big {
      font-size: 34px;
      line-height: 44px;

      @include vp-1023 {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.08em;
      }
    }
  }

  &__text {
    display: block;
    margin: 0 auto;
    max-width: 192px;
    font-family: $ff-roboto;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__icon {
    display: none;

    @include vp-1023 {
      display: flex;
      margin: 0 auto 20px;
    }

    @include vp-767 {
      margin: 0;
      position: absolute;
      top: -50px;
    }

    &-playground {
      margin: 20px auto 0;

      @include vp-767 {
        margin: 0;
        top: 106px;
      }
    }
  }

  &__title {
    max-width: 260px;
    font-family: $ff-tenor;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    text-align: center;
    color: $color-fallow;

    @include vp-1023 {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__group {
    display: grid;
    grid-template-columns: 1fr 368px 1fr;
    width: 100%;

    @include vp-1023 {
      grid-template-columns: 1fr 207px 1fr;
    }

    @include vp-767 {
      grid-template-columns: 1fr 155px 1fr;
    }
  }

  &__arrow-left,
  &__arrow-right {
    display: flex;
    position: relative;
  }

  &__arrow-left::after {
    right: 0;
  }

  &__arrow-left::after,
  &__arrow-right::before {
    content: "";
    position: absolute;
    width: calc(100% - 8px);
    bottom: 63%;
    border-bottom: 1px solid $color-fallow;
  }

  &__icon-arrow-left,
  &__icon-arrow-right {
    position: absolute;
    bottom: 65%;
    transform: translateY(50%);

    @include vp-1023 {
      width: 12px;
      height: 12px;
    }
  }

  &__icon-arrow-right {
    right: 0;
  }

  &--gap-xl {
    width: unset;

    @include vp-1023 {
      gap: 0;
    }

    .fact-item__wrapper {
      margin: 0 0 22px;

      @include vp-1023 {
        margin: 0 0 20px;
      }

      @include vp-767 {
        margin: 0 0 17px;
      }
    }
  }

  &--floorplans {
    margin: auto 0;
    gap: 40px;

    @include vp-1023 {
      gap: 20px;
    }
  }
}
