.features {
  padding: 120px 0 0;

  @include vp-1023 {
    padding: 80px 0 0;
  }

  @include vp-767 {
    padding: 60px 0 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 800px 1fr;
    align-items: center;
    column-gap: 168px;

    @include vp-1023 {
      grid-template-columns: 1fr;
    }
  }

  &__inner {
    &-text {
      margin: 0 0 30px;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;

      @include vp-1023 {
        margin: 0 0 20px;
        font-size: 14px;
        line-height: 20px;
      }

      @include vp-767 {
        margin: 0 0 15px;
      }
    }

    &-list {
      column-count: 2;
      column-gap: 44px;
      margin: 0;
      padding: 0 0 0 16px;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      list-style-type: none;

      @include vp-1023 {
        padding: 0 0 0 14px;
        font-size: 14px;
        line-height: 20px;
      }

      @include vp-767 {
        column-count: unset;
      }
    }

    &-item {
      break-inside: avoid;
      max-width: 370px;
      position: relative;

      @include vp-1023 {
        max-width: 320px;
      }

      &::before {
        content: "";
        width: 6px;
        height: 6px;
        background-color: $color-fallow;
        border-radius: 50%;
        position: absolute;
        left: -16px;
        top: 10px;

        @include vp-1023 {
          left: -14px;
          top: 7px;
        }
      }
    }

    &-item:not(:last-child) {
      margin: 0 0 15px;

      @include vp-1023 {
        margin: 0 0 10px;
      }
    }
  }

  &__line-break {
    display: none;

    @include vp-767 {
      display: unset;
    }
  }
}
