.features {
  padding: 120px 0 0;

  @include vp-1023 {
    padding: 80px 0 0;
  }

  @include vp-767 {
    padding: 60px 0 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    column-gap: 168px;

    @media (max-width: 1650px) {
      column-gap: 120px;
    }

    @media (max-width: 1550px) {
      column-gap: 80px;
    }

    @media (max-width: 1440px) {
      column-gap: 60px;
    }

    @include vp-1023 {
      grid-template-columns: 1fr;
    }
  }

  &__inner {
    &-text {
      margin: 0 0 30px;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;

      @media (max-width: 1440px) {
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 25px;
      }

      @include vp-1023 {
        margin: 0 0 20px;
        font-size: 14px;
        line-height: 20px;
      }

      @include vp-767 {
        margin: 0 0 15px;
      }
    }

    &-list {
      column-count: 2;
      column-gap: 44px;
      margin: 0;
      padding: 0 0 0 16px;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      list-style-type: none;

      @media (max-width: 1440px) and (min-width: 1024px) {
        column-count: unset;
      }

      @media (max-width: 1200px) {
        font-size: 16px;
        line-height: 24px;
      }

      @include vp-1023 {
        padding: 0 0 0 14px;
        gap: 65px;
        font-size: 14px;
        line-height: 20px;
      }

      @include vp-767 {
        column-count: unset;
      }
    }

    &-item {
      break-inside: avoid;
      max-width: 370px;
      position: relative;

      @media (max-width: 1440px) {
        max-width: unset;
      }

      &::before {
        content: "";
        width: 6px;
        height: 6px;
        background-color: $color-fallow;
        border-radius: 50%;
        position: absolute;
        left: -16px;
        top: 10px;

        @include vp-1023 {
          left: -14px;
          top: 7px;
        }
      }
    }

    &-item:not(:last-child) {
      margin: 0 0 15px;

      @media (max-width: 1440px) {
        margin: 0 0 12px;
      }

      @include vp-1023 {
        margin: 0 0 10px;
      }
    }
  }

  &__line-break {
    display: none;

    @include vp-1023 {
      display: unset;
    }
  }
}
