.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: $ff-tenor;
  row-gap: 30px;

  &__item {
    margin: 0;

    @include vp-767 {
      display: flex;
      flex-direction: column;
    }
  }

  &__img {
    width: 100%;
    border-radius: 0 0 600px 600px;
    flex-grow: 0;

    &--reverse {
      border-radius: 600px 600px 0 0;
    }
  }

  &__description {
    max-width: 390px;
    margin: 0 auto;
    padding: 20px 0 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.08em;
    color: $color-fallow;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: 1440px) {
      max-width: 350px;
      font-size: 18px;
      line-height: 24px;
    }

    @media (max-width: 1200px) {
      max-width: 300px;
      font-size: 16px;
      line-height: 20px;
    }

    @include vp-1023 {
      max-width: 260px;
      font-size: 14px;
      line-height: 18px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__picture {

    @include vp-767 {
      display: flex;
    }

    &--hidden {
      @include vp-1023 {
        display: none;
      }

      @include vp-767 {
        display: none;
      }
    }

    &--architecture {
      min-width: 160px;
    }
  }

  &--project {
    @include vp-1023 {
      grid-template-columns: repeat(2, 1fr);
      max-width: 532px;
      margin: 0 auto;
    }

    @include vp-767 {
      max-width: 220px;
      grid-template-columns: 1fr;
    }
  }

  &--architecture {
    gap: 84px;

    @media (max-width: 1650px) {
      column-gap: 70px;
    }

    @media (max-width: 1550px) {
      column-gap: 60px;
    }

    @media (max-width: 1440px) {
      column-gap: 40px;
    }

    @media (max-width: 1200px) {
      column-gap: 30px;
    }

    @include vp-1023 {
      gap: 19px;
    }

    @include vp-767 {
      display: flex;
      flex-wrap: nowrap;
      gap: 10px;
      margin: 0 -20px;
      padding: 0 20px;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &--floorplans {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;

    @include vp-1023 {
      max-width: 460px;
      margin: 0 auto;
    }

    @include vp-767 {
      max-width: 320px;
    }
  }
}
