.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: $ff-tenor;

  &__item {
    margin: 0;
  }

  &__img {
    border-radius: 0 0 600px 600px;
    flex-grow: 0;

    &--reverse {
      border-radius: 600px 600px 0 0;
    }
  }

  &__description {
    max-width: 390px;
    margin: 0 auto;
    padding: 20px 0 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.08em;
    color: $color-fallow;
    text-transform: uppercase;
    text-align: center;

    @include vp-1023 {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__picture {
    &--hidden {
      @include vp-1023 {
        display: none;
      }
    }
  }

  &--project {
    @include vp-1023 {
      grid-template-columns: repeat(2, 1fr);
      max-width: 532px;
      margin: 0 auto;
    }
  }

  &--architecture {
    gap: 84px;

    @include vp-1023 {
      gap: 19px;
    }
  }

  &--floorplans {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;

    @include vp-1023 {
      max-width: 460px;
      margin: 0 auto;
    }
  }
}
