.yard {
  padding: 120px 0 0;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 173px;
    margin: 0 0 120px;
  }

  &__title {
    margin: 0 0 30px;
  }

  &__descritpiton {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 0;
      padding: 0 0 0 15px;
      font-family: $ff-roboto;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
    }

    &-item {
      letter-spacing: -0.01em;

      &::marker {
        color: $color-fallow;
      }
    }
  }
}
